.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

/*.App-largeDogCookieImage {
  position: fixed;
  display: inline-block;
  width: auto;
  height: 100%;
  z-index: -2;
  top: 0px;
  left: 0px;
}*/

.App-content{
  margin-right: 10%;
  margin-left: 10%;
  padding-left: 0px;
}

.App-background{
  position: fixed;
  margin-left: 30%;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  z-index: -1;
}

.Cart-List{
  position: fixed;
  margin-right: 10%;
  margin-left: 42.5%;
  background-color: grey;
  text-align: left;
  color: white;
  padding: 20px;
  border-radius: 4px;
}

.Cart-List-Main{
  text-align: left;
  top-padding:40px;
  padding: 20px;
}

.App-navMenu{
  position: relative;
  display: inline-block;
  float: center;
  padding: 20px;
}


.App-navMenu-button{
  display: inline-block;
  float: left;
  border: 0px solid pink;
  background-color: black;
  color: white;
  font-size: 12pt;
  font-weight: normal;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  cursor: default;
}

.App-navMenu-not-button{
  display: inline-block;
  float: left;
  border: 0px solid pink;
  background-color: grey;
  color: white;
  font-size: 12pt;
  font-weight: normal;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  cursor: default;
}

.active{
  color: white; /*#FF9999*/
}
.App-navMenu-button:hover{
  background-color: grey;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-family: 'Kumar One Outline', cursive;
  color: orangered;
  font-size: 48pt;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.App-introHeader {
  text-align: left;
  font-size: 30pt;
  margin: auto;
  font-weight: bold;
}

.App-introBody {
  text-align: left;
  font-size: 14pt;
  margin: auto;
  padding-top: 20px;
}


.productWrapper{
  display: inline-block;
  padding: 50px;
  width: 100px;
  height: 100px;
}

.productImage{
  width: 100%;
  display: inline-block;
}

/**/

.productDetailMetaData{
  display: inline-block;
}

.productDetailImage{
  width: 20%;
  float: left;
  padding-left: 100px;
  display: inline-block;
}

.productDetailTitle{
  width: 100%;
  font-size: 14pt;
  font-weight: bold;
}

.productDetailDescription{
  font-size: 14pt;
}

.productDetailPrice{
  padding-top: 20px;
  text-align: left;
}

.productDetailQuantity{
  padding-top: 20px;
  text-align: left;
}

/**/

.productLabel{
  font-size: 12pt;
  padding-top: 5px;
}


/*.App-aboutDog{
  width: 60%;
  height: auto;
}

.App-aboutDog-caption{
  text-align: center;
  font-size: 14pt;
  margin: auto;
}*/

.App-aboutUs{
  text-align: center;
  font-size: 14pt;
  margin: auto;
  color: #808080;
  font-style: italic;
  margin-bottom: 1.5em;
  width: 70%;
}

.detailPane{
/*  position: fixed;*/
  width: 100%;
  height: 200px;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 1);
  border-right: 0px solid black;
  box-shadow: 0px 0px 0px #e0e0e0;
  padding: 10px;
  padding-top: 75px;
  padding-bottom: 50px;
}

.detailPane-inner{
  padding: 10px;
  background-color: white;
}

.Xout{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24pt;
  font-weight: bolder;
  color: white;
  cursor: default;
}
